<!DOCTYPE html>
<html>
  <head>
    <title>Swagger UI for Chill</title>
    {{ encore_entry_script_tags('swagger') }}
    {{ encore_entry_link_tags('swagger') }}
  </head>
  <body>
    <div id="swag"></div>
  </body>
</html>
